<section id="sample-table" class="mat-elevation-z8 bg-white">
  <div style="min-height: 20px; display: flex; flex-direction: column">
    <div style="display: flex">
      <h1 style="margin-left: 15px" translate>usersSideMenu</h1>
      <mat-icon
        (click)="ngxSmartModalService.getModal('myModal').open()"
        style="
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 5px;
          cursor: pointer;
        "
        >add_circle_outline</mat-icon
      >
    </div>
  </div>
  <ng-container *ngIf="dataSource">
    <mat-form-field style="margin: 15px; padding: 10px">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "usersNameTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "usersNicknameTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.nickname }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "usersTypeTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.type }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </ng-container>
</section>

<app-modal-loading [active]="loading"></app-modal-loading>

<ngx-smart-modal #myModal identifier="myModal">
  <div class="text-center">
    <h2 style="padding: 20px 0 20px 0" translate>headerAddUsers</h2>
  </div>
  <div fxLayout="row">
    <div fxFlexFill>
      <mat-form-field class="w-100">
        <input #name matInput placeholder="{{ 'nameUser' | translate }}" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input #user matInput placeholder="{{ 'userLogin' | translate }}" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          #password
          matInput
          type="password"
          placeholder="{{ 'passwordLogin' | translate }}"
        />
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>{{ "typeUser" | translate }}</mat-label>
        <select matNativeControl #type>
          <option value="admin">Admin</option>
          <option value="user">{{ "normalUser" | translate }}</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlexFill>
      <button
        [disabled]="
          !user.value || !password.value || !type.value || !name.value
        "
        mat-raised-button
        color="primary"
        class="w-100"
        (click)="createUser(user.value, password.value, type.value, name.value)"
      >
        {{ "createUser" | translate }}
      </button>
      <button
        (click)="myModal.close()"
        type="button"
        mat-button
        class="w-100"
        style="margin: 10px 0 10px 0"
      >
        {{ "closeModal" | translate }}
      </button>
    </div>
  </div>
</ngx-smart-modal>
