<mat-nav-list>
  <ng-container *ngFor="let item of routes">
    <a
      *ngIf="item.path !== ''"
      mat-list-item
      [routerLinkActive]="'active'"
      [routerLink]="['/admin', item.path]"
    >
      <mat-icon class="sidenav-icon">{{ item.data.icon }}</mat-icon>
      {{ item.data.text | translate }}
    </a>
  </ng-container>
</mat-nav-list>
