<div class="top-bar">
  <mat-toolbar color="primary">
    <span translate>app</span>
    <mat-icon
      (click)="changeLanguage()"
      style="margin: 15px 10px 0 5px; cursor: pointer"
      >g_translate</mat-icon
    >
    <span class="example-spacer"></span>
    <span routerLink="login" style="font-size: 1rem; cursor: pointer"
      >Admin</span
    >
  </mat-toolbar>
</div>
<ng-container *ngIf="galleryImages">
  <ngx-gallery
    [options]="galleryOptions"
    [images]="galleryImages"
    class="ngx-gallery"
  ></ngx-gallery>
</ng-container>

<app-modal-loading [active]="loading"></app-modal-loading>