<mat-toolbar color="primary" class="fix-nav">
  <button
    type="button"
    mat-icon-button
    class="visible-md"
    (click)="toggleSidebar()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span style="cursor: pointer" translate [routerLink]="['/admin']">app</span>
  <mat-icon
    style="margin: 15px 0 0 5px; cursor: pointer"
    (click)="changeLanguage()"
    >g_translate</mat-icon
  >
  <span class="nav-spacer"></span>
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
