<div class="login-page">
  <div class="content px20">
    <form
      class="login-form"
      #myForm="ngForm"
      (ngSubmit)="
        onLogin({
          user: user.value,
          password: password.value
        })
      "
    >
      <div class="text-center">
        <h2 class="app-name" translate>app</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input #user matInput placeholder="{{ 'userLogin' | translate }}" />
          </mat-form-field>
          <mat-form-field class="w-100">
            <input
              #password
              matInput
              type="password"
              placeholder="{{ 'passwordLogin' | translate }}"
            />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button
            [disabled]="!user.value || !password.value"
            type="submit"
            mat-raised-button
            color="primary"
            class="w-100"
          >
            {{ "login" | translate }}
          </button>
          <button
            routerLink="/"
            type="button"
            mat-button
            class="w-100"
            style="margin: 10px 0 10px 0"
          >
            {{ "loginHome" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-modal-loading [active]="loading"></app-modal-loading>
