<section id="sample-table" class="mat-elevation-z8 bg-white">
  <div style="min-height: 20px; display: flex; flex-direction: column">
    <div style="display: flex">
      <h1 style="margin-left: 15px" translate>evidencesSideMenu</h1>
      <mat-icon
        (click)="ngxSmartModalService.getModal('myModal').open()"
        style="
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 5px;
          cursor: pointer;
        "
        >add_circle_outline</mat-icon
      >
    </div>
  </div>
  <ng-container *ngIf="dataSource">
    <mat-form-field style="margin: 15px; padding: 10px">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="evidence_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "evidenceDateTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.evidence_date }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "descriptionEvidenceTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "categoryEvidenceTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.category }}</td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "imageEvidenceTable" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <span
            style="text-decoration: underline; cursor: pointer"
            (click)="showImage(row.id)"
            >{{ "imageEvidenceTable" | translate }}</span
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </ng-container>
</section>

<app-modal-loading [active]="loading"></app-modal-loading>

<ngx-smart-modal #myModal identifier="myModal">
  <div class="text-center">
    <h2 style="padding: 20px 0 20px 0" translate>imageEvidenceTable</h2>
  </div>
  <div fxLayout="row">
    <div fxFlexFill>
      <mat-form-field class="w-100">
        <mat-label>{{ "evidenceDateTable" | translate }}</mat-label>
        <input matInput #dateFinal [matDatepicker]="picker" disabled />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          #description
          matInput
          placeholder="{{ 'descriptionEvidenceTable' | translate }}"
        />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          #category
          matInput
          placeholder="{{ 'categoryEvidenceTable' | translate }}"
        />
      </mat-form-field>
      <input
        type="file"
        style="display: none"
        #fileInput
        accept="image/*"
        (change)="onChangeFileInput()"
      />
      <div style="width: 100%; display: flex; justify-content: center">
        <button
          style="padding: 10px; margin: 10px 0 30px 0"
          mat-raised-button
          color="primary"
          class="file-select-button"
          (click)="onClickFileInputButton()"
        >
          {{ file ? "Image selected" : "Select an image" }}
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlexFill>
      <button
        [disabled]="
          !description.value || !dateFinal.value || !category.value || !file
        "
        (click)="
          createEvidence(
            description.value,
            dateFinal.value,
            category.value,
            file
          )
        "
        mat-raised-button
        color="primary"
        class="w-100"
      >
        {{ "createEvidence" | translate }}
      </button>
      <button
        (click)="myModal.close()"
        type="button"
        mat-button
        class="w-100"
        style="margin: 10px 0 10px 0"
      >
        {{ "closeModal" | translate }}
      </button>
    </div>
  </div>
</ngx-smart-modal>
