@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-yellow, 700);
$accent: mat-palette($mat-orange, 700);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
